.App {
  text-align: center;
 background-color: rgba(113, 232, 226, 0.62);
 display: flexbox;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list{
  list-style: none;
  display: flexbox;
  justify-content: space-around;
  width: 75%;
  margin-left: 20%;

}
.list-item{
  padding: 0.4%;
  border: solid 5px grey;
  width: 60%;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 02%;
}
.list-buttons{
  width: 30%;
}
.list-button{
  margin: -1%;
  background-color: #6382c0;
   background: #f2711c;
  height: 35px;
  width: 18%;
  color: #fff;
  border: none;
 
}

.input-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5%;
}
.input-button{
  margin-left: -2%;
  border: none;
  margin-top: -0.02%;
}
.button{
  border: none;
}
.input-child{
  width: 18%;
  
}